In [19]:
#add pandas dependency. 
import pandas as pd

In [20]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [23]:
#create a dictiory for high schools
high_schools_dict = {'School ID': school_id, 'School Name': school_name, 'Type': type_of_school}

In [24]:
#initilize data frame 
schools_df = pd.DataFrame(high_schools_dict)


#print the data frame
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter