In [11]:
#define function
def say_hello():
    print("Hello!")
    
def say_something(something):
    print (something)

In [12]:
say_hello()

Hello!

In [13]:
say_something("Hello World")

Hello World

In [14]:
Jane_says = "Hi my name is Jane. I am learning Python!"
say_something (Jane_says)

Hi my name is Jane. I am learning Python!

In [18]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [19]:
pass_math_count = 29370
student_count = 39170

In [20]:
passing_math_percent(pass_math_count, student_count)

74.9808526933878

In [22]:
# a lits of my grades
my_grades = ['B', 'C', 'B' , 'D']

In [23]:
#import pandas.
import pandas as pd
#converthe my_grades to a series
mygrades = pd.Series(my_grades)
mygrades

0    B
1    C
2    B
3    D
dtype: object

In [28]:
#change the grades by one letter grade
mygrades.map({'B':'A', 'C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [29]:
#using the format() function
mygrades=[92.34, 84.56, 86.78, 98.32]
for grade in mygrades:
    print("{:.0f}".format(grade))

92
85
87
98

In [30]:
#convert the numerical grades to a series
mygrades=pd.Series([92.34, 84.56, 86.78, 98.32])
mygrades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [31]:
#format the grades to the nearest whole number percents
mygrades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [1]:
# setting up a class 
class Cat:
    def __init__(self, name):
        self.name = name

In [2]:
#object 1 cat
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [3]:
#object 2 cat
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [10]:
class Dog:
    def __init__ (self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    
    def bark(self):
        return self.sound + ' ' + self.sound

In [11]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [12]:
second_dog = Dog('Lady', 'blonde', 'arf!')
second_dog.bark()

'arf! arf!'